name: linting, testing, building

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  pipeline:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        node-version: [ 18.x ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build production project
        run: npm run build:prod
        if: always()

      - name: Lint TypeScript
        run: npm run lint:ts
        if: always()

      - name: Lint SCSS
        run: npm run lint:scss
        if: always()

      - name: Run unit tests
        run: npm run test:unit
        if: always()

      - name: Build Storybook
        run: npm run storybook:build
        if: always()
