name: linting, testing, building
on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
permissions:
  contents: write

jobs:
  pipeline:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['17.x']

    steps:
      - uses: actions/checkout@v3

      - name: Fix file permissions
        run: |
          find . -type f -exec chmod 644 {} \;
          find . -type d -exec chmod 755 {} \;

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Clean install
        run: |
          rm -rf node_modules
          npm cache clean --force
          npm install

      - name: Build production project
        run: npm run build:prod

      - name: Linting TypeScript
        run: npm run lint:ts

      - name: Linting CSS
        run: npm run lint:scss

      - name: Unit testing
        run: npm run test:unit

      - name: Build Storybook
        run: npm run storybook:build

      - name: Screenshot testing
        run: npm run test:ui:ci
